---

---

<section class="scroll-mt-16 dark:bg-steel-700">
	<div class="absolute inset-1 pointer-events-none mb-5" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
            <hgroup class="text-steel-600 dark:text-steel-100">
            <h2
				class="text-5xl md:text-5xl font-heading pb-6 bg-clip-text font-bold text-justify md:text-center"
			>
            Die Orientierungswoche (auch bekannt als OWO)
			</h2>
            </hgroup>
			<div class="md:text-left">
                <p class="text-xl dark:text-zinc-400 mb-4">
					Um euch den Start ins Studium zu vereinfachen wird am Anfang von jedem Semester eine Orientierungswoche beziehungsweise ein Orientierungstag von der Fachschaft organisiert.
                    Hier habt ihr die Chance alles rund um den Studienstart zu lernen.
					Insbesondere gibt es Einweisungen zu den Uni-Tools TUCaN und Moodle, welche während dem Studium sehr viel verwendet werden.
					Dort werden aber auch diverse andere Angebote vorgestellt, wie zum Beispiel ein paar Hochschulgruppen. <br>
					Dies ist auch das perfekte Event, um die anderen Erstis kennenzulernen! <br>

					In der OWO im Wintersemester sind Bachelor- und Master-Erstis dabei während in dem Sommersemester nur Master-Erstis da sind und das ganze entsprechend auf einen Tag verkürzt ist.
                </p>
            </div>
		</div>
	</div>
</section>
