---

---

<section class="scroll-mt-16 dark:bg-steel-700 min-height: 100vh">
	<div class="absolute inset-1 pointer-events-none mb-5" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
            <hgroup class="text-steel-600 dark:text-steel-100">
            <h2
				class="text-4xl md:text-5xl leading-tighter tracking-tighter font-heading pb-6 bg-clip-text font-bold text-justify md:text-center"
			>
            Für Studierende
			</h2>
            </hgroup>
			<div class="text-justify md:text-center">
                <p class="text-xl text-zinc-400 mb-4">
                    Das bist du (hoffentlich)
                </p>
            </div>
		</div>
	</div>
</section>
