---

---

<section class="scroll-mt-16 dark:bg-steel-700">
	<div class="absolute inset-1 pointer-events-none mb-5" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
            <hgroup class="dark:text-steel-100">
            <h1 class="text-5xl md:text-5xl font-heading pb-3 bg-clip-text font-bold text-justify md:text-center">
            Was mach ich vor dem Studium
			</h1>
            </hgroup>
			<hr>
			<h2 class="text-4xl md:text-4xl font-heading font-bold text-justify md:text-center dark:text-steel-200 pt-2 pb-1">
				Bewerbung
			</h2>
			<div class="text-justify md:text-left">
                <p class="text-xl dark:text-zinc-400 mb-4">
                    Computational Engineering ist ein NC-freier Studiengang.
					Das bedeutet, solange ihr einen validen Schulabschluss habt, bekommt ihr garantiert einen Studienplatz.
					Die Bewerbung hierfür erfolgt über TUCaN. (Link zu wie man das macht) <br>
					Auch für internationale Studenten ist die Bewerbung nicht kompliziert. (ZV International)
                </p>
            </div>
			<h2 class="text-4xl md:text-4xl font-heading font-bold text-justify md:text-center dark:text-steel-200 pb-1">
				Vorkurse
			</h2>
			<div class="text-justify md:text-left">
                <p class="text-xl dark:text-zinc-400 mb-4">
                    Von der Fachschaft Mathematik und Informatik werden jeweils Vorkurse angeboten.
					In diesen befasst ihr euch schonmal ein bisschen mit dem Stoff den ihr am Anfang des Studiums lernt.
					Diese sind nicht verpflichtend also kann man dort so wenig oder so viel man will mitmachen. <br>
					<a style="color:DodgerBlue" href="https://www.mathematik.tu-darmstadt.de/studium/studierende/orientierungsangebote_1/mathematik_vorkurs/mathematik_vorkurs_2.de.jsp">Vorkurs Mathe</a> <br>
					<a style="color:DodgerBlue" href="https://www.d120.de/de/studium/anfaenger/vorkurs">Vorkurs Informatik</a>
                </p>
            </div>
			<h2 class="text-4xl md:text-4xl font-heading font-bold text-justify md:text-center dark:text-steel-200 pb-1">
				Wohnung
			</h2>
			<div class="text-justify md:text-left">
                <p class="text-xl dark:text-zinc-400 mb-4">
                    Der Immobilienmarkt in Darmstadt ist nicht gerade optimal.
					Am einfachsten bekommt ihr über das Studierendenwerk einen Platz in einen derer Wohnheime.
					Meist ist dies ein Zimmer in einer WG mit 1-3 Mitbewohnern.
					Der Mietvertrag ist auf 2 Jahre ausgelegt, kann aber um 2 weiter Jahre verlängert werden, und zum Ende von jedem Semester kündigbar.
					Besonders für Leute die neu in Darmstadt sind ist dies keine schlecht Option für den Anfang. <br>
					<a style="color:DodgerBlue" href="https://studierendenwerkdarmstadt.de/wohnservice/wohnheime/">Webseite des STWDA</a>
                </p>
            </div>
			<h2 class="text-4xl md:text-4xl font-heading font-bold text-justify md:text-center dark:text-steel-200 pb-1">
				Orientierungswoche
			</h2>
			<div class="text-justify md:text-left">
                <p class="text-xl dark:text-zinc-400 mb-4">
                    <a style="color:DodgerBlue;" href="../study-start">Siehe die eigene Seite hierzu</a>
                </p>
            </div>
		</div>
	</div>
</section>
