---

---

<section class="scroll-mt-16 dark:bg-steel-700">
	<div class="absolute inset-1 pointer-events-none mb-5" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
            <hgroup class="text-steel-600 dark:text-steel-100">
            <h2 class="text-5xl md:text-5xl font-heading pb-6 bg-clip-text font-bold text-justify md:text-center">
                Terminkalender
			</h2>
            </hgroup>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FBerlin&bgcolor=%234285F4&showTitle=0&src=ODlkYmZiMWRlYzcwY2FjZGI1ZjI2ZWM1OWZjNzYwZDY4YjRiZWI1YjkzMDY1MDZjMzYwMWYxNmU2ZGMzZWNjYkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%234285F4"
                style="display: block; margin: 0 auto; border-width:0" width="800" height="600">
            </iframe>
            <p class="text-xl text-center pt-4 dark:text-zinc-400">
                Durch das '+' unten rechts könnt ihr diesen Kalender auch problemlos zu eurem Kalenderprogramm der Wahl hinzufügen.
            </p>
		</div>
	</div>
</section>
