---
import '~/assets/styles/calendar.css';
import { convertTimestamp2Date, getDay, getFormattedDate } from '../../utils/utils';
import { getLocationOnMap } from '../../utils/utils';

import { Icon } from 'astro-icon/components';

const events = [
	{
		title: 'Orientierungswoche (OWO)',
		date: 1456813856559,
		location: 'Dolivo',
	},
	{
		title: '2Orientierungswoche (OWO)',
		date: 1456813856559,
		location: 'Dolivo2',
	},
];
---
<section>
	<div class="cal" ng-app="calApp" ng-controller="calCtrl">
		<div class="cal-heading">Upcoming Events</div>
		{
			events.map(({ title, date, location }) => (
				<div class="cal-event">
					<div class="cal-event-tile">
						<div class="cal-event-tile-date">{convertTimestamp2Date(date, "d")}</div>
						<div class="cal-event-tile-month">{convertTimestamp2Date(date, "MMM")}</div>
					</div>
					<div class="cal-event-desc">
						<div class="cal-event-title">
							{ title }
						</div>
						<div class="cal-event-time">
							<Icon name="mdi:date-range" class="w-5 h-5" />
							{convertTimestamp2Date(date, "h:mm a, EEE d MMM")}
							<!--{{ event.date | date:'h:mm a, EEE d MMM'}} -->
						</div>
						<div class="cal-event-location">
							<Icon name="mdi:location" class="w-5 h-5" />
							<div class="cal-event-location-content">
								{ location }
							</div>
						</div>
						<a class="cal-event-map" href={getLocationOnMap(location)} target="_blank"> View Map</a>
					</div>
				</div>
			))}
		<div class="cal-hidden-events" ng-click="showHidden()" ng-if="hiddenEvents() > 0">
			some Event<span ng-if="hiddenEvents() >1">s</span> Hidden
		</div>
		<div ng-if="hiddenEvents() == 0 && events.length > 3" class="cal-hidden-events" ng-click="hideEvents()">
			Hide Events
		</div>
	</div>
</section>

