---
import { Icon } from 'astro-icon/components';
import Logo from '~/components/atoms/Logo.astro';
import ToggleTheme from '~/components/core/ToggleTheme.astro';
import ToggleMenu from '~/components/core/ToggleMenu.astro';

import { getHomePermalink, getBlogPermalink, getPermalink, getRelativeLink } from '~/utils/permalinks';
---

<header
	class="sticky top-0 z-40 flex-none mx-auto w-full border-b bg-white md:bg-white/90 border-black/7 dark:bg-steel-900 dark:md:bg-steel-900/90 dark:border-black/25 md:backdrop-blur-sm"
	id="header"
>
	<div class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4">
		<div class="flex justify-between">
			<a class="flex items-center" href={getHomePermalink()}>
				<Logo />
			</a>
			<div class="flex items-center md:hidden">
				<ToggleTheme />
				<ToggleMenu />
			</div>
		</div>
		<nav
			class="items-center w-full md:w-auto hidden md:flex text-zinc-600 dark:text-zinc-200 h-[calc(100vh-100px)] md:h-auto overflow-y-auto md:overflow-visible"
			aria-label="Main navigation"
		>
			<ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">
				<li class="dropdown">
					<button type="button" class="hover:text-zinc-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out">Fachschaft
						<Icon name="tabler:chevron-down" class="w-3.5 h-3.5 ml-0.5 rtl:ml-0 rtl:mr-0.5 hidden md:inline" />
					</button>
					<ul
						class="dropdown-menu md:backdrop-blur-md dark:md:text-white rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-gray-100 dark:md:bg-gray-700 md:min-w-[150px] drop-shadow-xl">
						<li>
							<a
								class="first:rounded-t last:rounded-b md:hover:bg-gray-700 dark:md:hover:bg-gray-100 hover:text-white dark:hover:text-zinc-900 dark:hover:bg-gray-100 py-2 px-5 block whitespace-no-wrap"
								href={getRelativeLink('fachschaft')}>Mitglieder</a>
						</li>
						<li>
							<a
								class="first:rounded-t last:rounded-b md:hover:bg-gray-700 dark:md:hover:bg-gray-100 hover:text-white dark:hover:text-zinc-900 dark:hover:bg-gray-100 py-2 px-5 block whitespace-no-wrap"
								href={getRelativeLink('fachschaft')}>Aufgaben</a>
						</li>
						<li>
							<a
								class="first:rounded-t last:rounded-b md:hover:bg-gray-700 dark:md:hover:bg-gray-100 hover:text-white dark:hover:text-zinc-900 dark:hover:bg-gray-100 py-2 px-5 block whitespace-no-wrap"
								href={getRelativeLink('fachschaft')}>Mitmachen</a>
						</li>
						<li>
							<a
								class="first:rounded-t last:rounded-b md:hover:bg-gray-700 dark:md:hover:bg-gray-100 hover:text-white dark:hover:text-zinc-900 dark:hover:bg-gray-100 py-2 px-5 block whitespace-no-wrap"
								href={getRelativeLink('interna')}>Interna</a>
						</li>
						<li>
							<a
								class="first:rounded-t last:rounded-b md:hover:bg-gray-700 dark:md:hover:bg-gray-100 hover:text-white dark:hover:text-zinc-900 dark:hover:bg-gray-100 py-2 px-5 block whitespace-no-wrap"
								href={getRelativeLink('fachschaft')}>Kontakt</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<button type="button" class="hover:text-zinc-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out">Studium
						<Icon name="tabler:chevron-down" class="w-3.5 h-3.5 ml-0.5 rtl:ml-0 rtl:mr-0.5 hidden md:inline" />
					</button>
					<ul
						class="dropdown-menu md:backdrop-blur-md dark:md:text-white rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-gray-100 dark:md:bg-gray-700 md:min-w-[150px] drop-shadow-xl">
						<li>
							<a
								class="first:rounded-t last:rounded-b md:hover:bg-gray-700 dark:md:hover:bg-gray-100 hover:text-white dark:hover:text-zinc-900 dark:hover:bg-gray-100 py-2 px-5 block whitespace-no-wrap"
								href={getRelativeLink('studium')}>Studierende</a>
						</li>
						<li>
							<a
								class="first:rounded-t last:rounded-b md:hover:bg-gray-700 dark:md:hover:bg-gray-100 hover:text-white dark:hover:text-zinc-900 dark:hover:bg-gray-100 py-2 px-5 block whitespace-no-wrap"
								href={getRelativeLink('study-start')}>Studienanfang</a>
						</li>
					</ul>
				</li>
				<li>
					<a
						class="font-medium hover:text-zinc-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href={getBlogPermalink()}>News</a
					>
				</li>
				<li>
					<a
						class="font-medium hover:text-zinc-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href={getPermalink('links', 'page')}
					>Links
					</a>
				</li>
				<li>
					<a
						class="font-medium hover:text-zinc-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href={getRelativeLink('faq')}>FAQ</a>
				</li>
			</ul>
			<div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
				<div class="hidden items-center md:flex">
					<ToggleTheme iconClass="w-5 h-5" />
					<a
						class="text-zinc-500 dark:text-zinc-400 hover:bg-steel-100 dark:hover:bg-steel-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="RSS Feed"
						href={'/rss.xml'}
					>
						<Icon name="tabler:rss" class="w-5 h-5" />
					</a>
					<a
						href="https://github.com/castn/website-fsce"
						class="inline-block text-zinc-500 dark:text-zinc-400 hover:bg-steel-100 dark:hover:bg-steel-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
						aria-label="Website repository on Github"
					>
						<Icon name="tabler:git-merge" class="w-5 h-5" />
					</a>
					<a
						class="text-zinc-500 dark:text-zinc-400 hover:bg-steel-100 dark:hover:bg-steel-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Computational Engineering website"
						href={'https://www.ce.tu-darmstadt.de/ce/vorstellung_ce/index.de.jsp'}
					>
						<Icon name="ce-logo" class="w-7 h-7" />
					</a>
					<a
						class="text-zinc-500 dark:text-zinc-400 hover:bg-steel-100 dark:hover:bg-steel-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="TU Darmstadt website"
						href={'https://www.tu-darmstadt.de/'}
					>
						<Icon name="tuda-logo" class="w-60 h-10" />
					</a>
				</div>
			</div>
		</nav>
	</div>
</header>
