---
import { Icon } from 'astro-icon/components';
import { Image, getImage } from 'astro:assets';

import { getPermalink } from '~/utils/permalinks';

import mascot from '~/assets/images/OwO-Blob.png';
---

<section class="relative bg-steel-800 border-b border-steel-600">
	<div class="max-w-7xl mx-auto px-10 md:px-20 relative z-10">
		<div class="py-12 md:py-20">
			<div class="text-center md:text-left max-w-5xl mx-auto md:grid md:grid-cols-2">
				<hgroup class="text-zinc-300">
					<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
						<!-- <img src={getRelativeLink("images/forgejo-wordmark.svg")} style="height: 2em;" alt="Forgejo" /> -->
						Fachschaft
					</h1>
					<p class="text-3xl md:text-3xl mb-8">
						
						<span class="bg-gradient-to-r from-blue-500 to-cyan-600 bg-clip-text text-transparent whitespace-nowrap"
							>Computational Engineering</span
						>
					</p>
				</hgroup>
				<div style="grid-area: 1/2/5/3;">
					<picture>
						<source
							srcset={`
								${(await getImage({ src: mascot, width: 407, format: 'webp' })).src} 407w,
								${(await getImage({ src: mascot, width: 814, format: 'webp' })).src} 814w,
								${(await getImage({ src: mascot, width: 1629, format: 'webp' })).src} 1629w,
							`}
							type="image/webp"
							sizes="(max-width: 767px) 407px, (max-width: 1479px) 814px, 1629px"
						/>
						<source
							srcset={`
								${(await getImage({ src: mascot, width: 407, format: 'png' })).src} 407w,
								${(await getImage({ src: mascot, width: 814, format: 'png' })).src} 814w,
								${(await getImage({ src: mascot, width: 1629, format: 'png' })).src} 1629w,
							`}
							type="image/png"
							sizes="(max-width: 767px) 407px, (max-width: 1479px) 814px, 1629px"
						/>
						<Image
							src={mascot}
							alt=""
							class="h-auto w-auto md:max-w-[125%] md:max-h-[calc(100%+20em)] mx-auto relative -mt-10 -z-10"
							width={1629}
							height={1273}
							loading="eager"
						/>
					</picture>
				</div>
				<div class="text-justify md:text-left">
					<p class="text-xl text-zinc-400 mb-4">
						<span class="font-semibold">Forgejo</span>
						is a self-hosted lightweight software forge.<br />
						Easy to install and low maintenance, it just does the job.
					</p>
					<p class="text-l text-zinc-400 mb-8">
						Brought to you by an inclusive community under the umbrella of
						<a
							class="hover:text-primary-600 hover:decoration-current transition ease-in duration-200 underline"
							href="https://docs.codeberg.org/getting-started/what-is-codeberg/#what-is-codeberg-e.v.%3F"
							>Codeberg e.V.</a
						>, a democratic non-profit organization, Forgejo can be trusted to be exclusively Free Software. It focuses
						on security, scaling, federation and privacy. Learn more about
						<a
							class="hover:text-primary-600 hover:decoration-current transition ease-in duration-200 underline"
							href={getPermalink('compare', 'page')}>how it compares with other forges</a
						>.
					</p>
					<div class="m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<a class="btn btn-dark btn-primary sm:mb-0 w-full sm:w-auto" href={getPermalink('download', 'page')}>
							<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Get Forgejo
						</a>
						<a class="btn btn-dark btn-red sm:mb-0 w-full sm:w-auto" href="https://next.forgejo.org/">
							<Icon name="tabler:test-pipe" class="w-5 h-5 mr-1 -ml-1.5" /> Try now
						</a>
						<a class="btn btn-dark btn-hero-features w-full sm:w-auto" href="#features">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
