---
import type { MarkdownHeading } from 'astro';

interface Props {
	headings: MarkdownHeading[];
	title: string;
}
const { headings, title } = Astro.props;
---

{
	headings.length > 0 && (
		<aside class="sticky top-20 order-2 -me-64 hidden basis-64 xl:block overflow-y-auto h-[calc(100vh-5rem-5rem)]">
			<a class="hover:text-primary-600" href="#top">
				<h2 class="font-semibold">{title}</h2>
			</a>
			<ul class="mt-4 text-xs">
				{headings.map(({ depth, slug, text }) => (
					<li class="line-clamp-2">
						<a
							class={`block hover:text-primary-600 break-words ${depth <= 2 ? 'mt-3' : 'mt-2 ps-3 text-[0.6875rem]'}`}
							href={`#${slug}`}
							aria-label={`Scroll to section: ${text}`}
						>
							{text}
						</a>
					</li>
				))}
			</ul>
		</aside>
	)
}
