---
import { Icon } from 'astro-icon/components';

const items = [
[
		{
			title: '1. Detektiv: Justus Jonas',
			description:
				'Wohnt bei Onkel Titus und Tante Mathilda auf Schrottplatz',
			icon: 'ic:round-checklist',
		},
		{
			title: '2. Detektiv: Peter Shaw',
			description:
				'Der Sportlichste von den Dreien',
			icon: 'octicon:git-branch',
		},
		{
			title: 'Recherche und Archiv: Bob Andrews',
			description:
				'Sitzt den ganzen Tag in der Bücherei von Rocky Beach',
			icon: 'ic:round-rocket-launch',
		},
	],
	[
		{
			title: 'Alex Zieschang',
			description:
				'6. Semester Bachelor, Vertiefung Informatik',
			icon: 'ic:round-bolt',
		},
		{
			title: 'Carsten Wesp',
			description:
				'6. Semester Bachelor, Vertiefung Elektrotechnik',
			icon: 'ic:round-bolt',
		},
		{
			title: 'Eike Rehwald',
			description:
				'6. Semester Bachelor, Vertiefung Mathe Mechanik',
			icon: 'ic:round-bolt',
		},
	],
];
---

<section class="scroll-mt-16 dark:bg-steel-700" id="features">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
		<div class="mb-10 md:mx-auto sm:text-center md:mb-12 max-w-3xl">
			<!-- <p class="text-base mb-4 text-primary-600 dark:text-steel-200 font-semibold tracking-wide uppercase">
				Highlights
			</p> -->
			<h2
				class="text-4xl md:text-5xl leading-tighter tracking-tighter font-heading pb-6 bg-gradient-to-r from-blue-500 to-cyan-600 bg-clip-text text-transparent font-bold"
			>
				Die Fachschaft Computational Engineering
			</h2>
			<p
				class="max-w-3xl mx-auto sm:text-center text-xl text-steel-600 dark:text-steel-100 py-3 my-3 border-y border-steel-100 dark:border-steel-600"
			>
				Wir sind die Fachschaft des Studienbereichs Computational Engineering und ab und zu machen wir Sachen.
			</p>
		</div>
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0 justify-center">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description, icon }) => (
							<div class="flex flex-row max-w-md">
								<div class="mb-4 mr-5">
									{icon && <Icon name={icon} class="w-10 h-10 text-primary-600 dark:text-primary-500" />}
								</div>
								<div>
									<h3
										class="
										leading-10 text-xl font-bold text-steel-600 dark:text-white
										underline decoration-1 decoration-steel-100 dark:decoration-steel-600 underline-offset-[0.5rem]
									"
									>
										{title}
									</h3>
									<p class="text-steel-600 dark:text-steel-200" set:html={description} />
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
