---

---

<section class="scroll-mt-16 dark:bg-steel-700">
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
            <h1 class="text-5xl dark:text-steel-100 font-heading bg-clip-text font-bold text-justify md:text-center pb-6">
            Aufgaben & Struktur
			</h1>
			<div class="text-xl md:text-left">
                <p class="dark:text-zinc-400 mb-4">
                    Auch eine Fachschaft braucht eine interne Struktur, wenn sie ihre Aufgaben erfüllen möchte.
                    Wie das bei uns aufgestellt ist und was wir damit für die Studierenden unseres Studienbereichs machen, kannst du auf dieser Seite erfahren.
                    Wenn dich irgendwas davon interessiert, komm gerne vorbei oder sprich uns an (siehe <a style="color:DodgerBlue;" href="../mitmachen/"><u>Mitmachen</u></a>)!
                </p>
            </div>
            <hr>
            <h1 class="text-4xl dark:text-steel-100 font-heading bg-clip-text font-bold text-justify md:text-center pt-2 pb-3">
                Aufgaben der Fachschaft
            </h1>
            <div class="text-xl md:text-left">
                <p class="dark:text-zinc-400 mb-4">
                    Die Fachschaft erfüllt verschiedene Aufgaben in der Universität.
                    Sie fungiert für Studierenden als direkter Ansprechpartner bei Problemen oder Anregungen.
                    Außerdem organisiert sie mehrere soziale Aktivitäten für die Studierenden.
                </p>
            </div>
            <hr>
            <h1 class="text-3xl dark:text-steel-100 font-heading bg-clip-text font-bold text-justify md:text-center pt-2 pb-2">
                Vertretung & Ansprechpartner
            </h1>
            <div class="text-xl md:text-left">
                <p class="dark:text-zinc-400 mb-3">
                    Die Fachschaft CE ist an erster Stelle Vertreter der Studierendeninteressen des Studienbereichs.
                    Wenn du Probleme bei Veranstaltungen, der Organisation von Prüfungen oder ähnlichem hast, kannst du einfach zu uns kommen.
                    Auch bei anderen Anliegen, welche nicht zur Studienberatung oder Ähnliches gehören, sind wir vermutlich die erste Anlaufstelle.
                    Entweder können wir direkt weiterhelfen oder euch an die richtige Stelle weiterleiten.
                    Wir versuchen die Anregungen oder Kritik aus der Studierendenschaft weiterzuleiten, sodass diese Gehör findet.
                </p>
            </div>
            <h1 class="text-3xl dark:text-steel-100 font-heading bg-clip-text font-bold text-justify md:text-center pb-2">
                Orientierungswoche (OWO)
            </h1>
            <div class="text-xl md:text-left">
                <p class="dark:text-zinc-400 mb-3">
                    Die Fachschaft organisiert für Erstsemester eine Einführungswoche, damit diese sich an der TU orientieren können und einen leichteren Einstieg haben.
                    Dies wird sowohl für die Studierenden der Bachelor- als auch für die des Master-Studiengangs angeboten.
                    Im Wintersemester fällt die OWO deutlich größer aus, da hier deutlich mehr Studierende mit ihrem Studium beginnen.
                    Im Sommersemester fangen nur Master-Studenten an, weswegen sich die Zahl hier sehr in Grenzen hält.
                    Mehr Informationen zur OWO findest du <a style="color:DodgerBlue;" href="../../studium/study-start/"><u>hier</u></a>.
                </p>
            </div>
            <h1 class="text-3xl dark:text-steel-100 font-heading bg-clip-text font-bold text-justify md:text-center pb-2">
                Stammtisch, Feste und co
            </h1>
            <div class="text-xl md:text-left">
                <p class="dark:text-zinc-400 mb-3">
                    Da es nicht so viele Leute gibt die CE studieren, organisieren wir jeden Monat am ersten Donnerstag einen Stammtisch.
                    Hier habt ihr die Chance auch außerhalb der Uni eure Kommilitonen besser kennenzulernen und Kommilitonen aus anderen Semestern zu treffen. <br>
                    Da dieser meist in einer Bar stattfindet, gab es auch einen Spieleabend der den gleichen Zweck gedient hat.
                    Zurzeit gibt es keinen der diesen organisiert weswegen dieser nicht stattfindet, aber falls du motiviert bist melde dich gerne bei der Fachschaft! <br>
                    Zudem wird auf immer eine Weihnachtsfeier von der Fachschaft organisiert.
                    Hier kochen wir gemeinsam, trinken Glühwein, Punsch, und Tee und singen unter anderem Weihnachtslieder.
                    Unterhaltungen sind hier selbstverständlich auch enthalten. <br>
                    Ab und zu findet auch eine Sommerfeier statt.
                    Da die Fachschaft zurzeit relativ klein ist, gibt es jedoch keine Garantie das diese stattfindet.
                </p>
            </div>
            <hr>
            <h1 class="text-4xl dark:text-steel-100 font-heading bg-clip-text font-bold text-justify md:text-center pt-2 pb-2">
                Struktur der Fachschaft
            </h1>
            <div class="text-xl md:text-left">
                <p class="dark:text-zinc-400 mb-3">
                    Nicht super relevant da es nur 3 aktive Mitglieder gibt :) <br>
                    TODO: update
                </p>
            </div>
		</div>
	</div>
</section>
