---

---

<section class="scroll-mt-16 dark:bg-steel-700">
	<div class="absolute inset-1 pointer-events-none mb-5" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
            <hgroup class="dark:text-steel-100">
            <h2
				class="text-4xl md:text-5xl leading-tighter tracking-tighter font-heading pb-6 bg-clip-text font-bold text-justify md:text-center"
			>
            Kontakt
			</h2>
            </hgroup>
            
			<div class="text-justify md:text-center">
                <h3
				class="text-4xl md:text-3xl leading-tighter tracking-tighter font-heading pb-6 bg-clip-text font-bold text-justify md:text-center"
			    >
                fachschaft@ce.tu-darmstadt.de
			    </h3>
                <p class="text-xl dark:text-zinc-300 mb-4">
                    Über die Fachschafts-Email erreicht ihr uns zu jeder Zeit. Hier kann es jedoch ein paar Tage dauern, bis ihr eine Antwort bekommt. <br>
                    Alternativ könnt ihr über den Discord Server Kontakt aufnehmen, da solltet ihr deutlich schneller eine Antwort erhalten.
                    Hier ist auch der Vorteil, das dort andere Studierende zu finden sind.
                </p>
            </div>
		</div>
	</div>
</section>
