---

---

<section class="scroll-mt-16 dark:bg-steel-700">
	<div class="absolute inset-1 pointer-events-none mb-5" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
            <hgroup class="dark:text-steel-100">
            <h1
				class="text-4xl md:text-5xl leading-tighter tracking-tighter font-heading pb-6 bg-clip-text font-bold text-justify md:text-center"
			>
            Kontakt
			</h1>
            </hgroup>
            
			<div class="text-justify md:text-center">
                <h2 class="text-3xl font-heading pb-4 font-bold text-justify md:text-center dark:text-steel-200">
                    fachschaft@ce.tu-darmstadt.de
			    </h2>
                <p class="text-xl dark:text-zinc-400 mb-5">
                    Über die Fachschafts-Email erreicht ihr uns zu jeder Zeit.
                    Hier kann es jedoch ein paar Tage dauern, bis ihr eine Antwort bekommt. <br>
                    Alternativ könnt ihr über den <a style="color:DodgerBlue;" href="https://discord.gg/wqZpt2AyH8">Discord Server</a> Kontakt aufnehmen, da solltet ihr deutlich schneller eine Antwort erhalten.
                    Hier ist auch der Vorteil, das dort andere Studierende zu finden sind.
                </p>
                <h2 class="text-3xl font-heading pb-4 font-bold text-justify md:text-center dark:text-steel-200">
                    Vor Ort
			    </h2>
                <p class="text-xl dark:text-zinc-400 mb-4">
                    Die Fachschaft hat ein Büro in der Dolivostr (S4|10 10).
                    Die meiste Zeit ist dieses jedoch nicht besetzt.
                </p>
            </div>
		</div>
	</div>
</section>
