---

---

<section class="scroll-mt-16 dark:bg-steel-700">
	<div class="absolute inset-1 pointer-events-none mb-5" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
            <hgroup class="text-steel-600 dark:text-steel-100">
            <h2
				class="text-4xl md:text-5xl leading-tighter tracking-tighter font-heading pb-6 bg-clip-text font-bold text-justify md:text-center"
			>
            Du willst mitmachen?
			</h2>
            </hgroup>
			<div class="text-justify md:text-left">
                <p class="text-xl text-zinc-400 mb-4">
                    Dann komm einfach mal bei einer unserer Fachschaftssitzungen vorbei!
                    Wir freuen uns immer über neue Mitglieder. <br>
                    Ihr könnt natürlich so oft oder so selten wie ihr wollte reinhören.
                    Auch als Mitglied der aktiven Fachschaft seid ihr nicht verpflichtet jede Woche aufzutauchen. <br>
                    Die Sitzungen finden während der Vorlesungszeit immer <u>Dienstags um 17:00 Uhr im Fachschaftsraum in der Dolivostr (S4|10 10)</u> statt und während der Klausurenphase meist alle 2 Wochen.
                    Da wir zurzeit nicht viele Mitglieder haben kann es aber auch vorkommen das die Sitzung online in <a style="color:DodgerBlue;" href="https://discord.gg/wqZpt2AyH8"><u>unserem Discord Server</u></a> stattfindet.
                    Schreibt am besten Alex, Carsten oder Eike an wenn ihr Interesse habt vorbeizukommen. <br>
                    Möglicherweise gibt es sogar Snacks die während den Sitzungen zur Verfügung gestellt werden 😉
                </p>
            </div>
		</div>
	</div>
</section>
