---

---

<span class="self-center ml-2 text-2xl md:text-xl font-bold text-zinc-900 whitespace-nowrap dark:text-white">
	<img src="/images/OwO-Blob.svg" style="height: 2em;" alt="Fachschaft CE" />
</span>
