---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

const { meta } = Astro.props;
---

<style>
	body {
	  display: flex;
	  min-height: 100vh;
	  margin: 0;
	  flex-direction: column;
	}
  
	.content { /* Add this class to your main content container */
	  flex: 1;
	}
  
	footer {
	  margin-top: auto;
	}
  </style>

<Layout {meta}>
	<Header />
	<main class="content">
	  <slot />
	</main>
	<Footer />
  </Layout>
